.contact {
  background: #181818;

  padding: 173px 0;

  color: white;
}

.contact__inner {
  display: flex;
  gap: 10px;
}

.contact__title {
  max-width: 955px;
  width: 100%;
  margin-bottom: 100px;
}

.contact__info-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  text-transform: uppercase;
}

.contact__form {
  margin-left: auto;

  max-width: 955px;
  width: 100%;
}

.contact__flex-block {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;

  margin-bottom: 80px;
}

.contact__textarea-block {
  margin-bottom: 20px;
}

.contact__submit-button {
  max-width: 306px;
  height: 56px;
  width: 100%;

  background-color: #ffffff;
  border-radius: 6px;
  color: #181818;

  text-transform: uppercase;

  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  cursor: pointer;
}

.contact__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 67px;
  cursor: pointer;
}

.contact__checkbox input[type="checkbox"] {
  appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #b7b7b7;
  border-radius: 2px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.contact__checkbox input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 0.8px;
  left: 3.5px;
  width: 2px;
  height: 5.5px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.contact__checkbox label {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  cursor: pointer;
  color: #ffffff;
}

.contact__title--success {
  margin-bottom: 60px;
}

.contact__description {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 140px;
}

.contact__description--text {
  font-size: 18px;
  line-height: 24.51px;
  max-width: 413px;
}

.contact__description--success {
  font-size: 22px;
  font-weight: 600;
  line-height: 29.96px;
  text-transform: uppercase;
}

#successMessage {
  display: none;
}
