.contact {
  background: #181818;

  padding: 173px 0;

  color: white;
}

.contact__inner {
  display: flex;
  gap: 10px;
}

.contact__title {
  max-width: 955px;
  width: 100%;
  margin-bottom: 100px;
}

.contact__info-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  text-transform: uppercase;
}

.contact__form {
  margin-left: auto;

  max-width: 955px;
  width: 100%;
}

.contact__flex-block {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;

  margin-bottom: 80px;
}

.contact__textarea-block {
  margin-bottom: 20px;
}

.contact__submit-button {
  max-width: 306px;
  height: 56px;
  width: 100%;

  background-color: #ffffff;
  border-radius: 6px;
  color: #181818;

  text-transform: uppercase;

  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  cursor: pointer;
}

.contact__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 67px;
  cursor: pointer;
}

.contact__checkbox input[type="checkbox"] {
  appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #b7b7b7;
  border-radius: 2px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.contact__checkbox input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 0;
  left: 3.5px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 1.6px 1.6px 0;
  transform: rotate(45deg);
}

.contact__checkbox label {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  cursor: pointer;
  color: #ffffff;
}

.contact__title--success {
  margin-bottom: 60px;
}

.contact__description {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 140px;
}

.contact__description--text {
  font-size: 18px;
  line-height: 24.51px;
  max-width: 413px;
}

.contact__description--success {
  font-size: 22px;
  font-weight: 600;
  line-height: 29.96px;
  text-transform: uppercase;
}

.contact__title--mobile {
  display: none;
}

#successMessage {
  display: none;
}

@media (max-width: 1200px) {
  .contact {
    padding: 120px 0;
  }

  .contact__inner {
    flex-direction: column;
    gap: 35px;
  }

  .contact__form {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .contact__inner {
    flex-direction: column;
    gap: 35px;
  }

  .contact__form {
    max-width: 100%;
  }

  .contact__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 43.58px;
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 60px 0;
  }

  .contact__flex-block {
    flex-direction: column;
    margin-bottom: 64px;
    gap: 44px;
  }

  .contact__title {
    margin-bottom: 44px;
  }

  .contact__textarea-block {
    margin-bottom: 12px;
  }

  .contact__checkbox {
    margin-bottom: 44px;
  }

  .contact__submit-button {
    max-width: 100%;
  }

  .contact__info-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }

  .contact__title--mobile {
    display: block;
  }

  .contact__title--desktop {
    display: none;
  }

  .contact__checkbox label {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
  }

  .contact__title--success {
    text-align: center;

    font-size: 32px;
    font-weight: 400;
    line-height: 43.58px;
  }

  .contact__description--text {
    text-align: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;

    max-width: 293px;
    margin: 0 auto;
  }

  .contact__description--success {
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-align: center;
  }
}
