* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;

  color: #181818;

  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  line-height: 21.79px;
}

button {
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 60px;
  line-height: 66px;
  font-weight: 400;
}

h2 {
  font-size: 42px;
  line-height: 46.2px;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  max-width: 1320px;
  width: 100%;

  padding: 0 20px;
  margin: 0 auto;
}

.default-button {
  background-color: #181818;

  width: 100%;
  height: 56px;
  border-radius: 6px;
  color: #f2f2f2;

  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;

  cursor: pointer;
}

.subtitle {
  max-width: 305px;
  width: 100%;
}

.mb-160 {
  margin-bottom: 160px;
}

.custom-input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  width: 100%;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 19.07px;
  color: #ffffff;
  outline: none;
  transition: border-color 0.3s ease;
}

.custom-input::placeholder {
  color: #b7b7b7;

  font-size: 14px;
  line-height: 19.07px;
}

.custom-input[type="number"]::-webkit-outer-spin-button,
.custom-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-input[type="number"] {
  -moz-appearance: textfield;
}

.slider-swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-top: 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.slider-button-prev,
.slider-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b7b7b71a;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
}

.slider-button-prev:hover,
.slider-button-next:hover {
  background-color: #b7b7b740;
}

.swiper-button-disabled {
  opacity: 0.4;
  cursor: default;
  background-color: #b7b7b740;
}

.swiper-button-disabled:hover {
  background-color: #b7b7b740;
}

.button-black {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background-color: #000;
  color: #fff;

  width: 100%;
  height: 56px;

  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;

  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.button-black:hover {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper-pagination-fraction {
  width: fit-content;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }
}

@media (max-width: 968px) {
  .mb-160 {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .mb-160 {
    margin-bottom: 64px;
  }

  .subtitle {
    max-width: 100%;
    width: 100%;

    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
  }

  h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 39.6px;
  }
}

@media (max-width: 599px) {
  .catalog .swiper-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .catalog .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .catalog .slider-swiper-pagination {
    display: none;
  }
}
