.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 28px;
  margin-bottom: 80px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;

  border-radius: 10px;
  border: 1.6px solid #b7b7b7;

  padding: 10px 16px 8px 12px;
}

.header__dropdown {
  position: relative;
}

.header__dropdown-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 14px 15px;

  background-color: white;
  height: 39px;
  width: 160px;
  font-size: 16px;
  line-height: 21.79px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.header__dropdown:hover .header__dropdown-btn {
  background-color: #181818;
  color: white;
  transition: all 0.3s;
  fill: white;
}

.header__dropdown-btn--active {
  background-color: #181818;
  color: white;
  transition: all 0.3s;
  fill: white;
}

.header__dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  border-radius: 0 0 6px 6px;
  top: 100%;
  left: 0;
  width: 160px;
  padding-top: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__dropdown:hover .header__dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__dropdown-item {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 29px;
  cursor: pointer;
}

.header__dropdown-link {
  font-size: 12px;
  line-height: 16.34px;
  border-bottom: 1px solid transparent;
}

.header__dropdown-link--active {
  border-bottom: 1px solid #b7b7b7;
  cursor: default;
}

.header__dropdown-item:hover .header__dropdown-link {
  border-bottom: 1px solid #b7b7b7;
}

.catalog__link {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  border-radius: 6px;

  height: 39px;
  width: 160px;
}

.catalog__link--active {
  background-color: #181818;
  color: #ffffff;
  transition: all 0.3s;
  cursor: default;
}

.catalog__link:hover {
  background-color: #181818;
  color: #ffffff;
  transition: all 0.3s;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #eeeeed;

  color: #181818;

  width: 197px;
  height: 59px;

  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;

  transition: all 0.3s;
}

.header__btn:hover {
  background-color: #181818;
  transition: all 0.3s;
  color: #ffffff;
  cursor: pointer;
}

.header__burger {
  display: none;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  color: #fff;
  z-index: 9999;

  padding: 32px 20px 22px 20px;
}

.menu-overlay.active {
  display: block;
  overflow: auto;
}

.menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 64px;
}

.menu-logo {
  width: 150px;
  height: auto;
}

.menu-close__block {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 28px;

  margin-bottom: 80px;
}

.menu-link {
  font-size: 22px;
  font-weight: 600;
  line-height: 29.96px;

  text-transform: uppercase;
}

.menu-social {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 64px;
}

.menu-social__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  color: #b7b7b7;
}

.menu-social__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-social__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
}

.email {
  margin-bottom: 16px;
}

@media (max-width: 1000px) {
  .header__btn {
    display: none;
  }

  .header__nav {
    padding: 8px;
  }
}

@media (max-width: 800px) {
  .header__logo {
    width: 147px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding-top: 32px;
    margin-bottom: 52px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
    cursor: pointer;
    line-height: 0;
  }
}
