.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-overlay--active {
  display: flex;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 40px;
  width: 400px;
  max-width: 95%;
  height: 520px;
  background-color: #181818;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal__top-container {
  width: 100%;
}

.modal__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;

  max-width: 245px;
  width: 100%;

  margin-bottom: 36px;
}

.modal__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
}

.modal__description-for-time {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  margin-bottom: 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal__inputs-container {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-bottom: 36px;
  width: 100%;
  align-items: center;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  text-align: center;
}

.modal__submit-button {
  background-color: #ffffff;
  border-radius: 6px;
  height: 56px;
  color: #181818;

  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  cursor: pointer;
  width: 100%;
  border: none;
  transition: background-color 0.3s;
}

.modal__submit-button:hover {
  background-color: #e0e0e0;
}

.modal__close {
  position: absolute;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__close svg {
  fill: #fff;
  width: 100%;
  height: 100%;
}

.modal__time-select {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.modal__time-picker {
  position: relative;
  width: 83px;
  z-index: 10;
}

.modal__time-picker-display {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #444;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.modal__note {
  font-size: 11px;
  font-weight: 400;
  line-height: 16.34px;
  margin-top: 12px;
  width: 100%;
  text-align: left;
}

.modal__time-picker-input {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 28px;
  width: 37px;
  height: 24px;
}

.modal__time-picker-input:focus {
  outline: none;
}

.modal__time-picker-icon {
  fill: #b7b7b7;
  pointer-events: none;
  margin-left: 6px;
}

.modal__time-picker-divider {
  position: absolute;
  top: calc(100% - 1px);
  left: 50%;

  display: none;
  height: 1px;
  width: 63px;

  background-color: #b7b7b7;
  transform: translateX(-50%);
  z-index: 5;
}

.modal__time-picker-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #444;
  max-height: 120px;
  overflow-y: auto;
  z-index: 4;
  border-radius: 0 0 6px 6px;
}

.modal__time-picker-option {
  padding: 4px 10px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 19px;

  background-color: #444;
  transition: background-color 0.2s;
}

.modal__time-picker-option:hover,
.modal__time-picker-option:focus {
  background-color: #555;
}

.modal__time-picker.open .modal__time-picker-options {
  display: block;
}

.modal__time-picker.open .modal__time-picker-divider {
  display: block;
}

.modal__time-picker.open .modal__time-picker-display {
  border-radius: 6px 6px 0 0;
}

.modal__time-picker-options {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal__time-picker-options::-webkit-scrollbar {
  display: none;
}
